*.exe
*.o
*.obj
*.lst

# Sublime Text #
*.sublime*

# VSCode #
.vscode/
*.code*

# Results Directory #
results/

# Executable names on linux
world

# Testing files
bug_test.d

# Valgrind/Callgrind output
callgrind_out
callgrind_out.demangled

# Memory profiling
*.log