.dub
docs.json
__dummy.html
docs/
dempshaf.so
dempshaf.dylib
dempshaf.dll
dempshaf.a
dempshaf.lib
dempshaf-test-*
*.exe
*.o
*.obj
*.lst

# Sublime Text #
*.sublime*

# VSCode #
*.code*

# Results Directory #
results/